body{
  background-image: url("background.jpg");
  background-size: cover;
  font-family: "Monda", sans-serif;
}
h1{
  text-align: center;
}

p{
  color: #FFF;
  text-align: center;
}

.xcom-text{
  color: #13D0CA;
  letter-spacing: -3px;
}

.xcom-btn{
  font-size: 2em;
  letter-spacing: -3px;
  background-color: rgba(0,0,0, 0.5);
  color: #13D0CA;
  text-transform: uppercase;
}

#container{
  height: 100%;
  margin: auto;
  width: 50%;
}

#inner-container{
  background-color: rgba(0,0,0, 0.8);
  margin: 20% auto;
  max-width: 800px;
  border: 2px solid #13D0CA;
  padding: 10px;

}

.xlrg-txt{
  font-size: 4em;
}

.lrg-txt{
  font-size: 2em;
}

.med-txt{
  font-size: 1.5em;
}

.xsml-txt{
  font-size: 0.5em;
}

#selection-btns{
  text-align: center;
}

#selection-btns button{
  min-width: 150px;
  margin: 0px 10px;
}

#selection-btns-container{
  display: inline-block;
  margin: auto;
}

#soldier-count{
  float: right;
}

.input-container{
  margin-top: 5%;
  font-size: 1.5em;
}

.init-hidden{
  display: none;
}

.init-hidden input{
  width: 100%;
  font-size: 1em;
  margin-top: 5px;
}

#soldier-text-input{
  border-radius: 8px;
  width: 100%;
  height: 200px;
}
